/* styles.css */

/* Réinitialisation des marges et des paddings */
/* couleurs et police
#FFF8E9 blanc cassé
#5a695d marron foncé
#849c84 marron clair
police
CORPORATIVE
clear Sans regular
clear sans bold */

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    
}

/* Styles généraux */
body {
    /* font-family: Arial, sans-serif;
    line-height: 1.6; */
    font-family: clear Sans, 'Arial Black', Arial, Verdana, sans-serif;
  /* margin: 5px;
  padding: 5px; */
  background-color: rgb(166, 166, 169);
  /* background-image: url(../img/moncockpit.JPG); */

  background-image: #5a695d;
}



h1 {
    font-family: 'Corporative Alt', sans-serif;
}

h2 {
    font-family: 'Clear Sans Medium', sans-serif;
}

header {
    background-color: #5a695d;
    color: #FFF8E9;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    background-color: #FFF8E9;
   
}

img {
    width: 100%;
    /* height: auto; */
    /* margin: auto;
    padding: 0; */
    width: 100%;
    height: 50%;
    max-height: 500px; /* Ajustez cette valeur en fonction de vos besoins */
    object-fit: cover;
    /* border: 0.2rem solid rgb(224, 12, 207); */
}

/* Ajoutez ce style pour mettre en gras le lien "Accueil" dans la barre de navigation */
.accueil-link {
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    text-decoration: dotted;
  
}


nav ul li a {
    text-decoration: none;
    color: #333;
    
}

.reseaux-sociaux {
    text-align: center;
}

.reseau {
    display: inline-block;
    margin: 10px;
}

.reseau a {
    display: block;
    text-decoration: none;
}

.reseau img {
    width: 50px; /* Ajustez la taille des logos selon vos besoins */
    height: 50px;
}


main {
    padding: 1rem;
}

.articles {
    display: inline;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

article {
    border: 1px solid #ddd;
    padding: 0.2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Styles spécifiques à la bannière */
.banner {
    /* background-image: url('./img/business\ model\ sloww.png'); */
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF8E9;
    text-align: center;
    /* padding: 100px 0; */
    /* border: 0.2rem solid rgb(224, 12, 207); */
}

.banner-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.banner h1 {
    margin-bottom: 20px;
}

.voyage-card img {
    width: 30%;
    height: 30%;
    max-height: 300px; /* Ajustez cette valeur en fonction de vos besoins */
    margin: auto;
    padding: 0;
    object-fit: cover;
    /* border: 1px solid #ddd; */
    padding: 1rem;
    text-align: center;
    margin-bottom: 20px; /* Espacement entre les cartes */
    /* ... (autres styles) ... */
}

/* Ajoutez un style pour ne pas ajouter de bordure en bas à la dernière carte */
.voyage-card:last-child {
    border: none;
}
.voyage-card {
    border: 1px solid #FFF8E9;
    padding: 1rem;
    text-align: center;
    /* ... (autres styles) ... */
}

/* Ajoutez un style pour séparer les cartes par une ligne */
.voyage-card + .voyage-card {
    margin-top: 20px; /* Espacement entre les cartes */
}

/* Réglages de responsive */
@media (max-width: 768px) {
    .banner {
        padding: 60px 0;
    }

    .banner-content {
        padding: 0 10px;
    }

    .banner h1 {
        font-size: 24px;
    }
}

.images-bottom {
    text-align: center;
    margin-top: 20px;
}

.images-bottom img {
    width: 200px; /* Ajustez la largeur selon vos besoins */
    height: 200px; /* Hauteur fixe */
    object-fit: cover; /* Ajuste l'image dans le conteneur */
    margin: 5px; /* Ajoutez de l'espace entre les images */
}



/* Styles pour les écrans plus petits (mobiles) */
@media (max-width: 768px) {
    header {
        padding: 20px; /* Réduire l'espacement dans l'en-tête pour les écrans plus petits */
    }

    .banner h1 {
        font-size: 24px; /* Réduire la taille de la police pour les écrans plus petits */
    }

    .articles {
        grid-template-columns: repeat(1, 1fr); /* Une colonne pour les écrans plus petits */
    }

    article {
        padding: 1rem; /* Réduire l'espacement des articles pour les écrans plus petits */
    }

    p {
        font-size: 16px; /* Ajustez la taille de la police des paragraphes pour les écrans plus petits */
    }

    h1 {
        font-size: 28px; /* Ajustez la taille de la police des titres h1 pour les écrans plus petits */
    }

    h2 {
        font-size: 24px; /* Ajustez la taille de la police des titres h2 pour les écrans plus petits */
    }

    h3 {
        font-size: 16px; /* Ajustez la taille de la police des titres h3 pour les écrans plus petits */
    }

    footer {
        padding: 20px; /* Réduire l'espacement dans le pied de page pour les écrans plus petits */
    }
}






